.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #4d5f5f;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.login-form{
  background-color: #bcece0;
  margin-top: 0px
}
.img-fluid{
  border-radius: 15px;
}